* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
    color: #54677c;
}

.usPro {
    min-height: 100vh;
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    /* Respnsive Behaviour */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
}

.card {
    position: relative;
    width: 300px;
    background-color: #fff;
    border-radius: 80px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin: 56px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
        0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    transform: scale(1.2);
}

p {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;
}

.name {
    margin-top: 80px;
    font-size: 1em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}



.see-more-btn {
    margin: 12px 8px;
    padding: 10px;
    border: 1px solid #343a40;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.8s;
}

.see-more-btn:hover {
    border: 1px solid #fff;
    background-color: #343a40;
    color: #fff;

}

.hr{
    border: 1px solid black;
    margin: 10px 0;
    width: 100%;
}